<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher uma nova senha.</p>
  <p>
    <a href="{{link}}" target="_blank">Resetar minha senha</a>
  </p>
  <p>Se não foi você, desconsidere esse e-mail e contate nosso suporte</p>
  <p>
    Obrigado, <br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
